/node_modules
/public/hot
/public/storage
/storage/*.key


#Pattern for including files in an excluded directory

!/vendor
/vendor/*

!vendor/jenssegers
/vendor/jenssegers/*

!/vendor/jenssegers/mongodb
/vendor/jenssegers/mongodb/*

!/vendor/jenssegers/mongodb/src
/vendor/jenssegers/mongodb/src/*

!/vendor/jenssegers/mongodb/src/Jenssegers
/vendor/jenssegers/mongodb/src/Jenssegers/*

!/vendor/jenssegers/mongodb/src/Jenssegers/Mongodb
/vendor/jenssegers/mongodb/src/Jenssegers/Mongodb/*

!/vendor/jenssegers/mongodb/src/Jenssegers/Mongodb/Auth




/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log

