.hidden {
  display: none;
}

* {
	margin: 0;
	padding: 0;
	border-radius: 0 !important;
}

body {
	background: #116466;

	/*Properties for the font of the body*/
	font-family: 'Montserrat Alternates';
	margin-top: 40px;
}

.nav {
	position: relative;
	z-index: 1;
}

.my-error-class {
	color : #cc0000; /*red*/
}

.add-padding-to-photos {
	margin-left: 10px;
}

.well {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(245, 245, 245, 0.7);
	border-radius: 0 !important; /*Get rid of rounded corners*/
}

.replace-with-photo {
	float: left;
	border: 1px solid #bcbcbc;
	background-color: rgba(7, 145, 44, 0.6);
	padding: 60px;
	margin: 10px;
}

h1 {
	padding-bottom: 40px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: #333333; /*grey*/
}

.btn {
	font-size: 25px;
	font-weight: bold;
}

/*Menu related*/
.custom-sign-in-button {
	font-size: 15px;
}
