.hidden {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	/*border-radius: 0 !important;*/
}

body {
	background: #116466;

	/*Properties for the font of the body*/
	font-family: 'Montserrat Alternates';
	margin-top: 40px;
}

.nav {
	position: relative;
	z-index: 1;
}

.my-error-class {
	color : #cc0000; /*red*/
}

.add-padding-to-photos {
	margin-left: 10px;
}

.well {
	padding:10px;
	background-color: rgba(245, 245, 245, 0.7);
	border-radius: 0 !important; /*Get rid of rounded corners*/
}

.label-for-checkbox {
	margin-right:25px;
}

.add-margin-top {
	margin-top: 10px;
}

.container {
	padding: 0;
	margin: 0;
}

.btn-success {
	width: 155px;
	margin: 0;
	margin-right: 5px;
	margin-top: 5px;
}

.container-fluid {
	padding: 0;
	padding-left: 5px; 
	overflow-x: hidden;
}

.right-padding {
	padding-right:25px;
}

.btn1 {
	float:left;
}

.btn2 {
	float:left;
}

.myWell {
	padding:5px;
	margin: 5px;
	margin-left:10px; 
	background-color: rgba(245, 245, 245, 0.8);
	border-top: 1px solid #c3c3c3;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
}

.myWell1 {
	padding:5px;
	margin: 5px;
	background-color: rgba(245, 245, 245, 0.9);
	border-bottom: 1px solid #c3c3c3;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
}

fieldset {
	padding:5px;
	margin-top: 5px;
	background-color: rgba(245, 245, 245, 0.7);
	border: 1px solid #c3c3c3;
}

h4 {
	color: #116466;
}

.btn {
	font-size: 18px;
}

/*Menu related*/
.custom-sign-in-button {
	font-size: 15px;
}
